In [37]:
import xml.etree.ElementTree as ET

import pandas as pd

# XML to pd.DataFrame

###### Removed unnecessary information that is saved from LabelImg. Only need annotations and objects.

# Blank Form

In [61]:
def xmltodf(path):
    xtree = ET.parse(path)
    xroot=xtree.getroot()
    df_cols = ['name', 'xmin','ymin','xmax','ymax']
    rows = []

    for node in xroot:
        x_name = node[0].text
        xmin = node[4][0].text
        ymin = node[4][1].text
        xmax = node[4][2].text
        ymax = node[4][3].text
        rows.append({'name':x_name, 'xmin':xmin, 'ymin':ymin, 'xmax':xmax, 'ymax':ymax})
    df = pd.DataFrame(rows,columns=df_cols)
    df.to_csv(f'{path[:-4]}.csv', index=False)
    return df

In [62]:
xmltodf(r'C:\Users\dso1222\Documents\TextRecognition\Forms\KNN\BlankClaimFormatted.xml')

             name  xmin  ymin  xmax  ymax
0        0_QRCode    57    48   159   149
1    1a_InsuredID  1036   290  1638   335
2        2_PtName    56   336   626   402
3      3_PtDOB_MM   649   359   709   398
4      3_PtDOB_DD   709   358   768   402
..            ...   ...   ...   ...   ...
219        24J_2a  1392  1533  1636  1565
220        24J_3a  1390  1600  1637  1634
221        24J_4a  1390  1664  1639  1702
222        24J_5a  1391  1737  1639  1766
223        24J_6a  1392  1801  1637  1835

[224 rows x 5 columns]

# White

In [63]:
xmltodf(r'C:\Users\dso1222\Documents\TextRecognition\Forms\KNN\whiteFormatted.xml')

                           name  xmin  ymin  xmax  ymax
0                      0_QRCode    78    93   176   194
1                      2_PtName    95   394   276   424
2                  1a_InsuredID  1038   330  1188   357
3                   5_PtAddress    94   457   341   485
4                    3_PtDOB_MM   662   393   699   425
..                          ...   ...   ...   ...   ...
206                     31_Date   339  2019   467  2051
207  32a_ServiceFacilityLocatio   539  2031   616  2059
208  32b_ServiceFacilityLocatio   767  2035   901  2062
209     33a_BillingProviderInfo  1059  2034  1106  2058
210     33b_BillingProviderInfo  1275  2032  1403  2059

[211 rows x 5 columns]